<form class="comment-form">
	<div>
		<textarea name="comment-body" placeholder="..your thoughts here"></textarea>
	</div>
	<div>
		<button type="submit" class="btn">add comment</button>
	</div>
</form>
<script src="/javascript/comment.js"></script>