<header>
	<h1>
		<a href="/">@pparatus</a>
	</h1>
	<div class="subtitle">{tech blog site}</div>
	<nav>
		<span>
			<a href="/"><button id="home" class="btn" onclick="/index.html">home</button></a>
		</span>
	</nav>
</header>