<header>
	<h1>
		<a href="/">@pparatus</a>
	</h1>
	<div class="subtitle">{tech blog site}</div>
	<nav>
		<span>
			<a href="/login"><button id="login" class="btn top">login</button></a>
		</span>
	</nav>
</header>