<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Apparatus</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">@pparatus</a>
      </h1>
      <div class="subtitle">{tech blog site}</div>
      <nav>
        <span>
          {{#if loggedIn}}
          <button id="login" class="btn" onclick="/dashboard">dashboard</a>
          <button id="login" class="btn" onclick="/index.html">home</button>
          <button id="logout" class="btn">logout</button>
          {{else}}
          <button id="login" class="btn" onclick="/login">login</button>
          {{/if}}
        </span>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Be Well!
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>