<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Apparatus</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Apparatus</a>
      </h1>
      <div class="subtitle"">a blog site for creative tech</div>
      <nav>
        <span>
          {{#if loggedIn}}
          <a href="/dashboard">dashboard</a>
          <button id="logout" class="btn">logout</button>
          {{else}}
          <button id="login" class="btn" onclick="/login">login</button>
          {{/if}}
        </span>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Be Well!
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>