{{#if posts.length}}

<section>
	<div class="dash-header">
		<a href="/new-post"><button type="new-post" class="btn dash-btn">+ Create New Post</button></a>
	</div>
	<ol>
		{{#each posts as |post|}}
		<li>
			{{> post-content post}}

		</li>
		{{/each}}
	</ol>
</section>
{{else}}
<section>
	<div>
		<h2 class="post-header">Ready to make your first post?</h2></br>
		<a href="/new-post"><button type="new-post" class="btn dash-btn">+ New Post</button></a>
	</div>
</section>
{{/if}}