{{#if posts.length}}

<section>
	<div class="dash-header">
		<a href="/new-post"><button type="new-post" class="btn dash-btn">+ Create New Post</button></a>
	</div>
	<ol>
		{{#each posts as |post|}}
		<li>
			<div class ="post">
				{{> post-content post}}
				<a href="/dashboard/edit/{{post.id}}" class="edit-post"><button id="edit-post" class="btn">Edit
						post</button></a>
			</div>
		</li>
		{{/each}}
	</ol>
</section>
{{else}}
<section>
	<div>
		<h2 class="post-header">Ready to make your first post?</h2></br>
		<a href="/new-post"><button type="new-post" class="btn dash-btn">+ New Post</button></a>
	</div>
</section>
{{/if}}