body {
    background-color: rgb(53, 52, 48);
    color: rgb(189, 172, 172);
    text-align: center;
    margin: 0;
    padding: 0;
}

main {
    padding-top: 50px
}

header {
    background-color: rgb(100, 62, 62);
    background-image: url('../images/geometry_of_nature.jpg');
    background-size: cover;
    background-blend-mode: screen;
    opacity: .7;
}

nav {
    width: 100%;
}

.subtitle {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 60px;
    padding-top: 0;
    color: rgb(0, 0, 0) !important;
    opacity: 1 !important;
    font-weight: bolder;
    text-shadow: -1px 0 rgb(161, 157, 157), 0 1px rgb(161, 157, 157), 1px 0 rgb(161, 157, 157), 0 -1px rgb(161, 157, 157);
}

span {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 20px 20px;
}

h1 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 6.5rem;
    opacity: 1 !important;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn {
    background-color: rgb(18, 100, 86);
    border: none;
    color: rgb(236, 229, 229);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: .9;
}

.btn:hover {
    background-color: #173d18;
}

a:link,
a:visited {
    color: rgb(13, 18, 44);
    text-decoration: none;
}

a:hover {
    color: #393753;
}

footer {
    padding-top: 100px;
}