:root {
    --green-one: rgb(134, 180, 177);
    --green-two: rgb(18, 100, 86);
    --green-three: 0c5257;
    --green-four: #6a9690;
    --green-five: #5db2bdc4;
    --main-font: rgb(129, 100, 100);
    --text-bg: rgb(31, 25, 34);
    --main-bg: rgb(34, 34, 34);
    --secondary-bg: #141418;
}

body {
    background-color: var(--main-bg);
    color: var(--main-font);
}

main {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    background-color: rgb(100, 62, 62);
    background-image: url('../images/geometry_of_nature.jpg');
    background-size: cover;
    background-blend-mode: screen;
    opacity: .7;
}

nav {
    width: 100%;
}

.subtitle {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 60px;
    padding-top: 0;
    color: black !important;
    opacity: 1 !important;
    font-weight: bolder;
    text-shadow: -1px 0 rgb(161, 157, 157), 0 1px rgb(161, 157, 157), 1px 0 rgb(161, 157, 157), 0 -1px rgb(161, 157, 157);
}

span {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 20px 20px;
}

h1 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 6.5rem;
    opacity: 1 !important;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn {
    background-color: var(--green-two);
    border: none;
    color: rgb(236, 229, 229);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: .9;
    margin-top: 30px;
}

.btn:hover {
    background-color: var(--green-four);
}

h1 a:link,
h1 a:visited {
    color: rgb(7, 8, 12);
    text-decoration: none;
}

h1 a:hover {
    color: #25242f;
}

footer {
    padding-top: 100px;
    text-align: center;
}

a:link {
    color: var(--green-five);
    text-decoration: none;
}

a:visited {
    color: rgb(103, 117, 138);
    text-decoration: none;
}

a:hover {
    color: var(--green-three);
}

.post-list {
    width: 100%;
}

.home-post-title {
    font-size: 3rem;
    padding: 20px;
}

.post,
.comment,
a:hover.comment {
    padding: 20px;
    line-height: 2;
    margin: 20px;
    background-color: var(--secondary-bg);
    color: var(--main-font);
}

.comment,
.meta {
    font-size: 1.2rem;
}

.posts-style {
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
}

.comment-form {
    padding: 40px;
}

.text {
    padding: 10px 20px;
    background-color: var(--text-bg);
}

.current-post {
    padding: 10px 20px;
}

.dash {
    text-align: center;
    padding: 40px;
}

textarea,
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid var(--green-one);
    background-color: var(--green-one);
}

textarea {
    height: 150px;
}

h4 {
    font-size: 1.5rem;
    text-align: left;
}

.dashboard {
    padding: 60px;
}

.dash-header {
    display: flex;
    justify-content: center;
}

.post-dash,
.edit,
.edit-post,
.edit-post-form {
    font-size: 1.7rem;
    padding: 40px;
}

.post-header {
    font-size: 2.6rem;
    padding: 40px;
}

.dash-btn {
    margin: 40px;
}

.home-post-title {
    font-size: 2rem;
}

.view-post-title {
    font-size: 1.9rem;
}

.post-content {
    font-size: 1.4rem;
}